<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>This is <%= title %></h1>
    <hr>
    <h2>User's Name: <%= username %></h2>
    <hr>
    <h2>User's Email: <%= useremail %></h2>
    <hr>
    <form action="/users/end-session" method="POST">
        <input type="submit" value="Sign Out">
    </form>
</body>                                                                                                             
</html>
